# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DB SECRETS
DATABASE_URL= 
DATABASE_PASSWORD= 



# NEXTAUTH SECRETS
# NEXTAUTH_URL= ""
NEXTAUTH_URL= http://localhost:3000
NEXTAUTH_SECRET= "FWttJkCwZAR0A9ctZTRy0T9OGSewtLdnF+4Q4A9yLUY="


# DISCORD PROVIDER
DISCORD_CLIENT_ID = 
DISCORD_CLIENT_SECRET = 


# GITHUB PROVIDER
GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 


# GOOGLE PROVIDER
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 